body{
  padding-top: 50px;
  background-color: #eeeeee;
}

.wrapper{
  width: 25%;
  margin: 0 auto;
  background-color: #eeeeee;
}
input{
  width: 100%;
  font-size: 17px;
  padding: 10px;
  border: 1px solid #cccccc;
}
input:first-child{
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
input:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn{
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
}
.alert{
  margin-top: 10px;
}
.display-none{
  display: none;
}
